<div class="page_container">
    <div id="instructions">
        <h2>¿Cómo funciona esta página?</h2>
        <ul>
            <li>Para volver a esta pantalla, haz click en <strong>Inicio</strong></li>
            <li>Para ver el catálogo al completo, haz click en <strong> Ver catálogo</strong></li>
            <li>Para realizar una búsqueda , haz click en el botón <strong>Realizar búsqueda</strong></li>
        </ul>
    </div>
    <div id="opciones">
        <button class="button" (click)="goToCatalogue()">Ver catálogo</button>
        <button class="button" (click)="goToAddBook()">Añadir libro</button>
        <button class="button" (click)="goToSearchBook()">Realizar búsqueda</button>
    </div>
</div>